---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<GlobalLayout title="fantomitechno mc projects">
  <PageHeader>Generators</PageHeader>
  <main>
    I created generators (well, there's only one for now, but I hope I'll be
    able to create more)

    <ul>
      <li>
        <a href="/generators/head">Head /give Generator</a>
      </li>
    </ul>
  </main>
</GlobalLayout>
