---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<GlobalLayout title="fantomitechno mc projects">
  <PageHeader> Hi, welcome to my Minecraft projects website!</PageHeader>
  <main>idk for now, I'm gonna just build the first one</main>
</GlobalLayout>
