---
import GlobalLayout from "../../layouts/GlobalLayout.astro";
import PageHeader from "../../components/PageHeader.astro";
import Section from "../../components/Section.astro";
---

<GlobalLayout title="fantomitechno mc projects">
  <PageHeader>Head /give</PageHeader>
  <main>
    <Section title="Description">
      <span>
        This project was an idea by @noxon on
        <a href="http://discord.gg/5y5FBz5">Dataworld</a> and I used some of his
        code to build this project.
      </span>
      <details>
        <summary>How it works</summary>
        First request, the uuid from the playername, then request the textures, decode
        it from base 64, format it to be an object as followed: <code
          >{'{"textures":{"SKIN":{"url":"<decoded skin url>"}}}'}</code
        > reencode it to base 64 and format it in a beautiful <b>give</b> command
      </details>
    </Section>

    <Section title="Generator">
      <form
        hx-post={`/api/generators/head`}
        hx-target="#output"
        hx-swap="innerHTML"
      >
        <label>Username</label>: <input name="username" />
        <button>/give head</button>
      </form>
      <br />
      <div id="output"></div>
    </Section>
  </main>
</GlobalLayout>

<style>
  #output {
    display: block;
  }

  code {
    padding: 0 0.2rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
</style>
